/* .border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
} */



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

/* body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
} */






/* ----------------login------------------------ */


/* html,
body{
    height: 100%;
    background-color: #222d32 !important;
    font-family: "Roboto", sans-serif;
} */

/* .global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0db8de;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}


input[type="email"],
input[type="passwword"]{
    background: #1a2226;
    border: 2px solid #0db8de;
    margin-bottom: 25px;
} */


html,
body {
    height: 100%;
    background-color: #222d32 !important;
    font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1a2226;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  height: 500px;
  padding: 15px;
  margin: auto;
  background-color: #1a2226;
  box-shadow: 9px 10px 12px 1px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;

}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.form-signin h1{   
    color: white;
}

.form-signin #login{
    font-weight: 900;
    color: white;
}

#btn{
    border: 2px solid rgba(255, 255, 255, 0.295);
    color: white;
}
